(function () {
    'use strict';

    define(['angularAMD', 'shared{{entityName}}Controller'], function (angularAmd) {

        var controllerId = "{{entityVar}}Controller";

        angularAmd.controller(controllerId, {{entityVar}}Controller);
        {{entityVar}}Controller.$inject = ['$scope', 'common',  '$q','$window', '$location'];

        
        function {{entityVar}}Controller($scope, common, $q,  $window, $location) {
            activate();
            var vm = this;
            vm.Id = 0;
            vm.actionState = 1; // 1.Grid, 2.RefreshGrid, 3.Add, 4. Added, 5. Update, 6.Updated, 7. Delete, 8. Deleted
            vm.modelName = '{{entityName}}';
            vm.route = '#/{{entityVar}}';
            function activate() {
                common.activateController(null, controllerId).then(function () { });
                
            }
            $scope.setActionState = function (val) {
                vm.setActionState(val);
            }
            vm.setActionState = function(val) {
                vm.actionState = val;
            };
            vm.callBackAfterAddUpdateDelete = function () {
            };
            vm.add = function (item) {
                var deferred = $q.defer();
                vm.actionState = 3;
                vm.Id = 0;
                deferred.resolve(1);
                return deferred.promise;
            };
            vm.edit = function (item) {
                var deferred = $q.defer();
                vm.actionState = 5;
                vm.Id = item.id;
                deferred.resolve(1);
                return deferred.promise;
            };
            vm.BackToList = function() {
                vm.actionState = 1;
            }

            vm.closePopupHandle = function () {
                $window.history.pushState(null, '{{projectName}}', $location.absUrl());
            }
        }
    });
}());