@using ProjectName.HtmlHelpers
<div data-ng-controller="changePasswordController as vm">
    <form name="popupForm">
        <div class="row">
            @Html.CustomTextBox("CurrentPassword", "Current password", "vm.CurrentPassword", "col-md-4 col-sm-4 col-xs-12", required: true, isPasswordType: true, length: 50)
            @Html.CustomTextBox("NewPassword", "New password", "vm.NewPassword", "col-md-4 col-sm-4 col-xs-12", required: true, isPasswordType: true, isShowInfoPasswordRule: false, length: 50)
            @Html.CustomTextBox("ConfirmNewPassword", "Confirm password", "vm.ConfirmNewPassword", "col-md-4 col-sm-4 col-xs-12", required: true, isPasswordType: true, length: 50)
            <div class="col-md-12">
                Password must have at least 8 characters, include number, upper case, normal case and special characters.
            </div>
        </div>
    </form>
    <div class="popup-footer">
        <button ng-click="vm.cancel()" class="btn btn-default"><i class="fa fa-close"></i> Cancel</button>
        <button class="btn btn-primary" ng-click="vm.update()"><i class="fa fa-save"></i> Update</button>
    </div>
</div>
