using Database.Persistance.Tenants;
using Framework.DomainModel.Entities;
using Framework.DomainModel.ValueObject;
using Repositories.Interfaces;
using System.Linq;
using System.Linq.Dynamic.Core;

namespace Repositories
{
    public class EntityFramework{{entityName}}Repository : EntityFrameworkTenantRepositoryBase<{{entityName}}>, I{{entityName}}Repository
    {
        public EntityFramework{{entityName}}Repository(ITenantPersistenceService persistenceService)
          : base(persistenceService)
        {
            {{#each searchFields}}
            SearchColumns.Add({{this.field}});                  
            {{/each}}
        }
        public override IQueryable<ReadOnlyGridVo> BuildQueryToGetDataForGrid(IQueryInfo queryInfo)
        {
            return (from g in GetAll()
                    select new {{entityName}}GridVo
                    {
                        {{#each EntityFields}}
                        {{this.field}} = g.{{this.field}},                        
                        {{/each}}
                    }).OrderBy(queryInfo.SortString);
        }

    }
}
