
<input name="files" type="file" kendo-upload k-async="{ saveUrl: '{{uploadVm.saveUrl}}', removeUrl: '{{uploadVm.removeUrl}}', autoUpload: true }"
       k-localization="{select: '{{uploadVm.selectText}}'}"
       accept="{{uploadVm.acceptType}}"
       k-select="uploadVm.onSelect" k-success="uploadVm.onSuccess" k-remove="uploadVm.onRemove" k-show-file-list="false" k-multiple="uploadVm.isAllowMultiFile" />
<input ng-model="modelBinding" id="{{uploadVm.uploadId}}" type="hidden"/>
<div ng-if="uploadVm.isAllowMultiFile && uploadVm.isUploadImage && modelBinding !== null && modelBinding !== '' && modelBinding !== undefined && modelBinding.length > 0">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="media in modelBinding">
                <th scope="row">{{$index+1}}</th>
                <td><img ng-src="{{media.ImageUrl}}" style="height: {{uploadVm.previewHeight}}px" /></td>
                <td><button class="btn btn-default" ng-click="uploadVm.deleteFile(media.FilePath)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="uploadVm.isAllowMultiFile && !uploadVm.isUploadImage && modelBinding !== null && modelBinding !== '' && modelBinding !== undefined && modelBinding.length > 0">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="media in modelBinding">
                <th scope="row">{{$index+1}}</th>
                <td><a download="{{file.ImageUrl}}" ng-href="{{file.ImageUrl}}">{{file.FileNameOriginal}}</a></td>
                <td><button class="btn btn-default" ng-click="uploadVm.deleteFile(file.FilePath)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!uploadVm.isChangeAvatar && !uploadVm.isAllowMultiFile && uploadVm.isUploadImage && modelBinding !== null && modelBinding !== '' && modelBinding !== undefined && modelBinding.length > 0">

    <div class="profile_img mt10" style="float:left;">
        <!-- end of image cropping -->
        <div id="crop-avatar">
            <!-- Current avatar -->
            <img ng-src="{{modelBinding}}" class="img-responsive avatar-view" style="height: {{uploadVm.previewHeight}}px" />

        </div>
        <!-- end of image cropping -->
    </div>
    <div style="float: left;line-height:{{uploadVm.previewHeight}}px;margin-left:10px; "><button class="btn btn-default mt10" ng-click="uploadVm.deleteFile(modelBinding)">Delete</button></div>
</div>