<html lang="en" class=" ">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Version Incorrect</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="nav-md error">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">Phiên bản của bạn không phù hợp</h1>
                        <h2>Chúng tôi không thể thực thi phần mềm này</h2>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
</body>
</html>