@using Framework.DomainModel.Entities.Common @using Framework.Utility @using <%= projectName %>.HtmlHelpers
<style>
    .content-tab-index {
        height: 100% !important;
    }
</style>
<div data-ng-controller="shared<%= entityName %>Controller as vms" ng-init="vms.shareInit(vm.Id)">
    <form name="popupForm">
        <div>
            <h4 class="mb5"><%= entityName %> information</h4>
            <hr class="mt0" />
        </div>
        <% _.each(EntityFields, function(entity) { %>
        <% if (entity.type =='bool') { %>
        <div class="row">
            @Html.CustomCheckBox("<%= entity.field %>", "<%= entity.field %>","vms.<%= entityName %>.<%= entity.field %>")
        </div>
        <% }else if (entity.type =='int'){ %>
        <div class="row">
            @Html.InputPositiveNumeric("<%= entity.field %>", "<%= entity.field %>","vms.<%= entityName %>.<%= entity.field %>", maximumValue: 100)
        </div>
            <% }else{ %>
        <div class="row">
            @Html.CustomTextBox("<%= entity.field %>", "<%= entity.field %>", "vms.<%= entityName %>.<%= entity.field %>", required:true, length: 300)
        </div>
        <% } %>
        <% }); %>
    </form>
    <div ng-if="vms.<%= entityName %>.CreateMode" ng-include="'/app/layout/popupCreateFooter.html'"></div>
    <div ng-if="!vms.<%= entityName %>.CreateMode" ng-include="'/app/layout/popupUpdateFooter.html'"></div>
</div>