@model ProjectName.Models.PlayList.DashboardPlayListIndexViewModel
<div ng-controller="playListController as vm">
    <!-- Start: Topbar -->
    <header>
        <ol class="breadcrumb mb10 pt0 pb0 pl0">
            <li><a @*class="underline-effect"*@ href="javascript:void(0);" ng-click="vm.basePopup.cancel()"><h2>Manage Playlist</h2></a></li>
            <li ng-if="vm.actionState == 3 || vm.actionState == 4 || vm.actionState == 5 || vm.actionState == 6">{{vm.actionState == 3 || vm.actionState == 4? "Create playlist": (vm.actionState == 5 || vm.actionState == 6? "Update playlist":"")}}</li>
        </ol>
    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div id="content-container">
        <div ng-if="vm.actionState == 1 || vm.actionState == 2">
            <partial name="~/Views/Shared/Grid/_ReadOnlyGrid.cshtml"
                     model="Model.GridViewModel" />
        </div>
        <!-- Add -->
        <div ng-if="vm.actionState == 3 || vm.actionState == 4 || vm.actionState == 5 || vm.actionState == 6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{vm.actionState == 3 || vm.actionState == 4? "Create": (vm.actionState == 5 || vm.actionState == 6? "Update":"")}} playlist</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" ng-include="'/PlayList/Shared'"></div>
            </div>
        </div>
        <!-- Update -->
        <script type="text/x-kendo-template" id="descriptionTemplate">
            <div style="max-height:200px; overflow-y: auto">
                #:Description#
            </div>
        </script>
    </div>
    <!-- End: Content -->
</div>