@model ProjectName.Models.Series.DashboardSeriesIndexViewModel
<div ng-controller="seriesController as vm">
    <!-- Start: Topbar -->
    <header>
        <ol class="breadcrumb mb10 pt0 pb0 pl0">
            <li><a @*class="underline-effect"*@ href="javascript:void(0);" ng-click="vm.basePopup.cancel()"><h2>Manage Series</h2></a></li>
            <li ng-if="vm.actionState == 3 || vm.actionState == 4 || vm.actionState == 5 || vm.actionState == 6">{{vm.actionState == 3 || vm.actionState == 4? "Create series": (vm.actionState == 5 || vm.actionState == 6? "Update series":"")}}</li>
        </ol>
    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div id="content-container">
        <div ng-if="vm.actionState == 1 || vm.actionState == 2">
            <partial name="~/Views/Shared/Grid/_ReadOnlyGrid.cshtml"
                     model="Model.GridViewModel" />
        </div>
        <!-- Add -->
        <div ng-if="vm.actionState == 3 || vm.actionState == 4 || vm.actionState == 5 || vm.actionState == 6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{vm.actionState == 3 || vm.actionState == 4? "Create": (vm.actionState == 5 || vm.actionState == 6? "Update":"")}} series</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" ng-include="'/Series/Shared'"></div>
            </div>
        </div>
        <!-- Update -->
        <script type="text/x-kendo-template" id="backgroundTemplate">
            <img src="#:BackgroundFormat#" height="100" width="150"/>
        </script>
        <script type="text/x-kendo-template" id="descriptionTemplate">
            <div style="max-height:200px; overflow-y: auto">
                #:Description#
            </div>
        </script>
        <script type="text/x-kendo-template" id="isActiveTemplate">
            #if(IsActive == true){#
            <div class="fa fa-check" style="color:\\#5cb85c"></div>
            #}#
            #if(IsActive != true){#
            <div class="fa fa-times" style="color:\\#d9534f"></div>
            #}#
        </script>
    </div>
    <!-- End: Content -->
</div>